@import "tailwindcss";

.leaflet-tooltip-arrow {
  display: none;
}

/* Prevent text selection */
.no-select {
  user-select: none;
  -webkit-user-select: none; /* Safari/Chrome */
  -ms-user-select: none; /* IE/Edge */
}

/* Remove tap highlight on mobile */
.no-highlight {
  -webkit-tap-highlight-color: transparent;
}

/* Optional: make it feel like a button */
/* .no-highlight:focus {
  outline: none;
} */
