@import "tailwindcss";

.leaflet-tooltip-arrow {
  display: none;
}

/* Prevent text selection */
.no-select {
  user-select: none;
  -webkit-user-select: none; /* Safari/Chrome */
  -ms-user-select: none; /* IE/Edge */
}

/* Remove tap highlight on mobile */
.no-highlight {
  -webkit-tap-highlight-color: transparent;
}

/* Optional: make it feel like a button */
/* .no-highlight:focus {
  outline: none;
} */

body {
  margin: 0;
  padding: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: oklch(1 0 0);

}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.map-wrap {
  position: relative;
  width: 100%;
  height: calc(
    100vh - 77px
  ); /* calculate height of the screen minus the heading */
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
}
